
<nav>
  <input type="checkbox" name="" id="check">
  <label for="check" class="checkbtn" id ="checkbtn" >
      <i class="fa-solid fa-bars"></i>
  </label>
  <label class="logo">FFL</label>
  <ul>
    <li> <a href="/">HOme</a></li>
     <li> <a href="/about">about</a></li>
     <li> <a href="/contact">Contact</a></li>
      <li><a href="/feedback">Feedback</a></li>
  </ul>
</nav>

