
<nav>
  <input type="checkbox" name="" id="check">
  <label for="check" class="checkbtn" >
      <i class="fa-solid fa-bars"></i>
  </label>
  <label class="logo">Student</label>
  <ul>
    <li> <a href="#">HOme</a></li>
     <li> <a href="#">about</a></li>
     <li> <a href="#">Services</a></li>
     <li> <a href="#">Contact</a></li>
      <li><a href="#">Feedback</a></li>
  </ul>
</nav>

