

<div class="topnav" id="myTopnav">
    

  <a href="#home" class="active">HOME</a>
  <a href="#news">ABOUT</a>
  <a href="#contact">CONTACTS</a>
  <a href="#about">MARKETS AVAILABLE</a>
  <a href="#about">COST</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>


