<html>
<head>
    <%- include('partials/head')  %> 
</head>
<body>
    <%- include('partials/header')  %> 
    <main>
        <div class="container">
           <center>
            <h1>WILL BE UPDATED SHORTLY</h1>
            <h3><a href="/">POSTS</a></h3>
           </center>
        </div>
    </main>
    
</body>
</html>