<html>
<head>
    <%- include('partials/head')  %> 
</head>
<body>
    <%- include('partials/header')  %> 
    <main>
        <div class="container">
            <center>
            <h1>this page is made bby using express node js </h1>
<p><a href="/">Posts</a></p>
            </center>
        </div>
        </div>
    </main>
    
</body>
</html>