<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head')  %> 
  <%- include('partials/header')  %> 
    <title>Contact | FFL</title>
</head>
<body>
  <div class="contaier">
    <h1>
      <a href="/">Posts</a>
    </h1>
  </div>
</body>
</html>