<html>
<head>
    <%- include('partials/head')  %> 
    
</head>
<body>
    <%- include('partials/header')  %> 
    <main>
        <div class="container">
            
       <% stream.forEach((stream)=>{ %>
            <div class="container2">
            <h1><%= stream.name %></h1>
               <p><%= stream.content%></p>
           </div>
      <% }) %> 
        </div>
    </main>
    
</body>
</html>