<html>
<head>
    <%- include('partials/head')  %> 
</head>
<body>
    <%- include('partials/header')  %> 
    <main>
        <div class="container">
            <h1><%= User %></h1>
       <% stream.forEach((element) => {  %>
            <div class="container2">
            <h1><%= element.name %></h1>
               
           </div>
      <% }); %> 
        </div>
    </main>
    
</body>
</html>