<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Feed | FFL</title>
    <link rel="stylesheet" href="styles.css">
</head>
<style>
    *{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;;
}
body{
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content:center;
}
.wrapper{
  width: 350px;
  height: 400px;
  background: rgb(201, 60, 60);
  padding: 20px;
  border-radius: 15px;
}
textarea{
  border-radius: 10px 100px / 120px;
  padding: 10px 20px  10px 20px;
}
button {
  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  font-size: 16px;
  }
</style>
<body>
<div class="wrapper">
   <form action="/newfeed" method="post">
    <label for="title"><h1>Title: </h1></label> <input type="text" name="title" id="" maxlength="20" required>
    <label for="story"><h1>Tell us your story:</h1></label>

<textarea id="story" name="story" rows="10" cols="33" required>

</textarea>
<center><button type="submit"> Post</button></center>

   </form>
</div>
</body>
</html>