*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}
body{
  font-family: montserrat;
}
nav{
  height: 60px;
  background-color: #080808;
  width: 100%;
}
label.logo{
  color: rgb(247, 184, 12);
  font-size: 35px;
  line-height: 60px;
  padding :0 100px;
  font-weight: bold;

}

nav ul{
  float:right;
  margin-right: 60px;
}
nav ul li{
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}
nav ul li a{
  color: rgb(247, 184, 12);
  font-size: 17px;
  text-transform: uppercase;
  padding-right: 10px;
}
.newfeed1{
    margin: auto;
    width: 50%;
    border: 3px solid rgb(1, 22, 1);
    padding: 10px;
}
.feedele{
  margin-bottom: 10px;
}
.feedele label {
  display: inline-block;
  width: 150px;
  text-align: right;
}
a:active,a:hover{
  background-color:#0a3a5f ;
  
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: rgb(247, 184, 12);
  float: right;
  line-height: 60px;
  margin-top: 15px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
display: none;
}

@media (max-width:952px) {
  
  label.logo{
      font-size: 30px;
      padding-left: 50px;
  }
  nav ul li a{
      font-size: 16px;
  }
}
@media (max-width:858px) {
  
  .checkbtn{
      display: block;
  }
  .newfeed1{
    margin: auto;
    width: 80%;
    border: 3px solid rgb(1, 22, 1);
    padding: 10px;
}
  .feedele{
    margin-bottom: 10px;
  }
  .feedele label {
    display: inline-block;
    width: 100px;
    text-align: right;
  }

  ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background:#000000 ;
      top: 60px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }
  nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  }
  nav ul li a{
      font-size: 20px;
  }
  a:hover,a.active{
      background: none;
      color: #0082e6;
  }
  #check:checked ~ ul{
      left: 0;
  }
  .container{
 color: rgb(12, 12, 12);
background-size: cover;
padding: 20px 10px 0 10px;
  height: calc(100vh - 80px);
}
  .container2{
  margin: 10px 10px 10px 10px ;
  margin-bottom:0 10px;
  box-sizing: border-box;
  }		
}
.container{
background-repeat: no-repeat;
background-size: cover;
padding: 10px 40px 0 40px;
  min-height: calc(100vh - 80px);
}
.container2 label{
  font-size: 20px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.container2  a:link{
  color:rgb(255, 187, 0);
font-size: 20px;
}
.container2 li{
  text-transform: uppercase;

}
#capitall{
  text-transform: uppercase;
}
.container2{
    position:relative;
    min-height:100px;
    border-radius: 25px;
    padding: 25px;
    box-sizing:border-box;
    background:white;
    border: 5px solid #DCCBDC ;
    margin-bottom: 10px;
}